page-register {
    .swiper-container {
        width: 500px;
        height: 300px;
        margin: 20px auto;
    }
    
	
    .register-logo {
		position: relative;

		img {
			/*height: 15pc;*/
			/*margin-left: 10%;*/
		}
		.register-title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			border: 0;
			background: rgba(255, 255, 255, 0.6);
			padding: 10px;
		}

		h1 {
			margin-top: 0;
		}
	}
    .termscheckbox{
    	font-size: 1.3rem;
    }

    
	.avatar {
	  height: 250px;
	  width: 250px;
	  border-radius: 50%;
	  border: 3px solid #fff;
	  box-shadow: 0 4pt 10pt rgba(0,0,0,1);
	
	 
	}
	.scroll-content {
    display: flex;
    flex-direction: column;

    ion-slides {
        display: flex;
    }
    
    .register-form .pwd {
		background-color: transparent;
	}
}
    
}
