<!--
  Generated template for the LoanapplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Loan Application</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form class="loanapplication-form" #loanapplicationForm="ngForm" >
		<ion-list >
			<ion-row align-items-stretch>
				<ion-col col-12  col-12 col-md-6 align-self-stretch align-self-center  >
					<div class="loanapplication-title"><h1><strong>Congratulation!!!</strong></h1></div>
					<div class="loanapplication-title"><h2><strong>You can borrow</strong></h2></div>
					<div class="loanapplication-circular"></div>
					<div class="centered"><h1><strong>KES {{qualifiedAmout}}</strong></h1></div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<ion-item>
						<ion-label stacked>Loan Amount</ion-label>
						<ion-select [(ngModel)]="selectedLoanAmount" name="loanamount" (ngModelChange)="optionsLoanAmount(item)">
							<ion-option *ngFor="let item of loanamounts"  [value]="item" >{{item.loanamount}}</ion-option>
							
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
			
			<ion-row>
				<ion-col col-12>
					<ion-item>
						<ion-label stacked>Repayment Period</ion-label>
						<ion-select [(ngModel)]="selectedLoanPeriod" name="loanperiod" >
							<ion-option *ngFor="let item of loanperiods" [value]="item" >{{item.periodNum}}</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
			
			<ion-row responsive-sm>
				<ion-col >
					 <button  ion-button block (click)="doLoanApplication(loanapplicationForm)" type="submit" block>
				      	Apply Loan
				     </button> 
				</ion-col>
			</ion-row>	
		</ion-list>
	</form>
</ion-content>
<ion-footer primary>
   <ion-toolbar color="primary">
	    <ion-buttons left>
		      <button ion-button icon-Left (tap)="loanapplicationBack()">
		      	<ion-icon name="arrow-back"></ion-icon>
		        	Back
		      </button>
    	</ion-buttons>
  </ion-toolbar>
</ion-footer>
